[submodule "src/rust/dependencies/aptos-core"]
	path = src/rust/dependencies/aptos-core
	url = https://github.com/aptos-labs/aptos-core.git
[submodule "src/typescript/frontend/public/static"]
	path = src/typescript/frontend/public/static
	url = git@github.com:tradingview/charting_library.git
