# LaTeX tempfiles
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

# Do not track LaTeX PDF output, just sourcefile and assets
doc/litepaper/main.pdf

# Python tempfiles
*.pyc
*.egg-info

# Temporary Jupyter notebooks
*test*.ipynb

# Move tempfiles
src/move/ultima/build/*
src/move/ultima/*.trace
*.mvcov

# Sphinx tempfiles
doc/sphinx/build/*