@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    width: 0px;
  }
  .flash-bg-once {
    animation: pulse-bg-once 0.5s ease-out forwards;
  }

  @keyframes flash-bg-once {
    to {
      background-color: transparent;
    }
  }
}
@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
